.l-main
  width: 85%
  height 100vh
  margin-left: 15%
  background #ECF0F3
  padding: 30px
  display flex
  flex-direction: column
  justify-content: space-around
  +sp()
    width 80%
    margin-left 20%
